{% extends "fitness/layout.html" %}
{% load static %}


{% block body %}
    <div id="main">
        <div>
            <img src="{% static 'fitness/elon.jpg'%}" alt="">
            <ul>
                <li>Elon Musk</li>
                <li><strong>Excercise:</strong> Weight Liftinig</li>
                <li><strong>Difficulty:</strong> Medium</li>
            </ul>
        </div>
        

    </div>
    <div id="mainsecond">
        <div class="workout">
            <p>Your Plan</p>
            <ul>
                <li>Huge Chest</li>
                <li>6 ABS</li>
                <li>Lose Wight</li>
                <li>Gain Muscle</li>
                <li>Get Fit</li>
            </ul>
            <button>Start Now</button>
        </div>
        <div class = "workout">
            <p>Fitness Influencers</p>
            <ul>
                <li> Chris Bumstead </li>
                <li>browney</li>
                <li>The Rock</li>
                <li>Khabib</li>
                <li>Jeremy Ethier</li>
            </ul>
            <button>Choose your favourite</button>
        </div>
    </div>
    <div id="quotem">
        <div id="quote">
            <p id = "quotecontent"></p>
        </div>
    </div>

{% endblock %}