{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fitness/styles.css' %}">
    <script src="{% static 'fitness/script.js' %}"></script>
    <title>{% block title%}{%endblock%}</title>
</head>
<body>
    <nav>
        <ul>
            <li><img src="{% static 'fitness/home.svg' %}" alt=""><a href="">Home</a></li>
            <li><img src="{% static 'fitness/status.svg' %}" alt=""><a href="">Status</a></li>
            <li><img  id = "different" src="{% static 'fitness/workout.svg' %}" alt=""><a href="">Workout</a></li>
            <li><img src="{% static 'fitness/contact.svg' %}" alt=""><a href="">Contact</a></li>
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
    <footer>

        <div class="footer-content">
            <p>&copy; 2024 Nathnael Tamirat. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="footer-links divider">
                <li><a href="#"><img src="{% static 'fitness/telegram.svg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'fitness/x.svg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static 'fitness/linkedin.svg' %}" alt=""></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>