body {
    padding: 10px;

}
input,label{
    display: block;
    margin: 0;
}
h2{
    width:80%;
    margin:1% auto;
    text-align: center;
}
.listing  > * {
    font-weight: bolder;
}
.listing span{
    font-weight: normal;
}
.listing{
    padding:5px;
    width:80%;
    margin:1% auto;
    border:3px solid #ccc;
}
.listing h3{
    text-align: center;
    text-decoration: underline;
    color: blue;
}
.del-container{
    width:20%;
    float:right;
    clear:both;
    margin-bottom: 2%;
}
.del{

    display:block;
    margin:1%;
    border:2px solid cyan;
    
}
.bcontainer{
    width:40%;
    float:right;
    clear:both
}
.bcontainer input{
    display:inline-block;
    width:30%;
    margin:1%;
    border:2px solid cyan;
}
.bcontainer input[type = "number"]{
    border:2px solid gray;
}
.w-container{
    width:25%;
    float:right;
    clear:both;
    margin-bottom: 2%;
}
.wel{

    display:block;
    margin:1%;
    border:2px solid cyan;
    
}
.message{
    width:20%;
    margin:1% auto;
    text-align: center;
    border:2px solid cyan;
    background: rgb(0, 255, 0);
    padding:5px;
    font-style:italic
    ;
}
.total{
    width:20%;
    margin:1% auto;
    text-align: center;
    border:2px solid cyan;
    background: rgb(0, 255, 0);
    padding:5px;
    font-style:italic
    ;
}
.auction-img{
    width:20%;
    margin:1% auto;
}
.commenting{
    width:25%;
    float:right;
}
.button * {
    display:inline-block;
    border:1px solid #ccc;
}
.button{
    width:30%;
    margin:1% auto;
}
.button ul{
    border:none;
}
.design{
    color:blue;
    font-weight: bolder;
}