{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <h1>
        All posts
    </h1>
    <form id="createpost" method = "post" action = "{% url 'publish' %}">
        {% csrf_token %}
        <input type="text" name = "content">
        <input type="submit"  value="POST">
    </form>

    {% for publish in published %}

        <div class="published">
            <a href="#" class = "postuser">{{publish.user}}</a>
            <p class = "content">{{publish.content}}</p>
            <p class = "time">{{publish.time}}</p>
            <p class ="like">Likes: {{publish.likes}}</p>
            {% if button %}
            <button data-postid="{{publish.id}}" id = "like">dislike</button>
            {% else %}
            <button data-postid = {{publish.id}}" id="dislike">like</button>
            {% if request.user.username == publish.user.username %}
                <button class="edit" data-postid = "{{publish.id}}">Edit</button>
                <button class="delete" data-postid = "{{publish.id}}">Delete</button>
            {%endif%}
        </div>
        {%empty%}
        <h1>No posts</h1>
    {% endfor %}
    <script>
            const itemsPerPage = 10;
    const publishedItems = document.querySelectorAll('.published')
    function displayItems(page)
    {
        publishedItems.forEach(item => {
        item.style.display = 'none';
        });
        const startIndex = (page -1) * itemsPerPage
        const endIndex = startIndex + itemsPerPage
        for (let i =startIndex; i < endIndex && i < publishedItems.length; i++)
        {
            publishedItems[i].style.display = 'block'
        }
    }
    function createPagination(){
        
        const pageCount = Math.ceil(publishedItems.length/itemsPerPage)
        const paginationContainer = document.createElement('div')
        document.querySelector('body').append(paginationContainer)

        for(let i = 1; i <= pageCount; i++)
        {
            const pageButton = document.createElement('button')
            pageButton.textContent = i;
            pageButton.addEventListener('click',()=> displayItems(i))
            paginationContainer.append(pageButton)
            
        }
    }
    displayItems(1);
    createPagination()

    
    //editing post
    document.querySelectorAll('.edit').forEach(function(button) {
        button.addEventListener('click', function() {
            let content = this.closest('.published').querySelector('.content').innerHTML;
            let post_id = button.dataset.postid
            console.log(post_id)
            this.closest('.published').querySelector('.content').style.display="none";
            this.closest('.published').querySelector('.time').style.display="none";
            this.closest('.published').querySelector('.like').style.display="none";
            this.closest('.published').querySelector('.edit').style.display="none";
            this.closest('.published').querySelector('.delete').style.display="none";
            
            text = document.createElement('textarea')
            save = document.createElement('button')
            save.innerHTML = 'Save'
            text.innerHTML = content
            this.closest('.published').append(text)
            this.closest('.published').append(save)
            save.addEventListener('click',()=>{
                content = text.value
                fetch('edit',{
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                post_id: post_id,
                                content: content,
                                
                            })
                        })
                            .then(response => response.json())
                            .then(result => {
                                console.log(result.message)
                               text.style.display="none";
                                 save.style.display="none";

                                this.closest('.published').querySelector('.content').style.display="block";
                                this.closest('.published').querySelector('.time').style.display="block";
                                this.closest('.published').querySelector('.like').style.display="block";
                                this.closest('.published').querySelector('.edit').style.display="block";
                                this.closest('.published').querySelector('.delete').style.display="block";
                                this.closest('.published').querySelector('.content').innerHTML = content
                })
                            .catch(error => console.log('error', error))
                
            })
        });
    });
    </script>



{% endblock %}

