{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <h1>
        Profile
    </h1>
    <div class="profile">
       <p>Username {{username}}</p>
         <p>Bio {{bio}}</p>
            <p id = "followers">Followers {{followers}}</p>
            <p id = "following">Following {{following}}</p>
            <img src="{{image_link}}" alt="">
            <p>Posts {{postNumber}}</p>
            {% if request.user.is_authenticated and request.user.username != username %}
            {% if followed %}

                
                <button id = "unfollow" data-user = {{username}}>Unfollow</button>

            {%else%}

                <button id = "follow" data-user = {{username}}>Follow</button>
            {%endif%}
            {% endif %}
    </div>
    
    {% for publish in publishes %}
        <div class="published">
            <p  class = "postuser">{{publish.user}}</p>
            <p class = "content">{{publish.content}}</p>
            <p class = "time">{{publish.time}}</p>
            <p class ="like">Likes{{publish.likes}}</p>
            {% if request.user.username == publish.user.username %}
                <button class="edit" data-postid = "{{publish.id}}">Edit</button>
                <button class="delete" data-postid = "{{publish.id}}">Delete</button>
            {%endif%}
        </div>
        {%empty%}
        <h1>No posts</h1>
    {% endfor %}
        <script>
            
    //editing post
    document.querySelectorAll('.edit').forEach(function(button) {
        button.addEventListener('click', function() {
            let content = this.closest('.published').querySelector('.content').innerHTML;
            let post_id = button.dataset.postid
            
            console.log(post_id)
            this.closest('.published').querySelector('.content').style.display="none";
            this.closest('.published').querySelector('.time').style.display="none";
            this.closest('.published').querySelector('.like').style.display="none";
            this.closest('.published').querySelector('.edit').style.display="none";
            this.closest('.published').querySelector('.delete').style.display="none";
            
            text = document.createElement('textarea')
            save = document.createElement('button')
            save.innerHTML = 'Save'
            text.innerHTML = content
            this.closest('.published').append(text)
            this.closest('.published').append(save)
            save.addEventListener('click',()=>{
                content = text.value
   
                fetch('/edit',{
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                post_id: post_id,
                                content: content,
                                
                            })
                        })
                            .then(response => response.json())
                            .then(result => {
                                console.log(result.message)
                               text.style.display="none";
                                 save.style.display="none";

                                this.closest('.published').querySelector('.content').style.display="block";
                                this.closest('.published').querySelector('.time').style.display="block";
                                this.closest('.published').querySelector('.like').style.display="block";
                                this.closest('.published').querySelector('.edit').style.display="block";
                                this.closest('.published').querySelector('.delete').style.display="block";
                                this.closest('.published').querySelector('.content').innerHTML = content
                })
                            .catch(error => console.log('error', error))
                
            })
        });
    });
        </script>
    
{% endblock %}