{% extends "auctions/layout.html" %}
{% load static  %}
{% block head %}
    <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
{% endblock %}
{% block body %}
    <h2>Active Listings</h2>
    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}
    {% if messageList %}
        {% for message in messageList %}
            <div class="message">You have won  the auction {{ message }}</div>
        {% endfor %}
    {% endif %}
    {% for auction in auctions %}
        <div class="listing">
            <h3><a href="{% url 'modify' auction.id %}">{{ auction.title }}</a></h3>
            <p>Description: <span>{{ auction.description }}</span></p>
            <p>Starting bid: <span>${{ auction.starting_bid }}</span></p>
            <p>Category: <span>{{ auction.category }}</span></p>
            <img src="{{auction.imageurl}}" alt="imagenotfound">
            <p>Activated By:  <span>{{auction.user.username}}</span></p>
        </div>
        {% empty %}
        No active listings.
    {% endfor %}
{% endblock %}